:root {
--blue: #0065FC;
--lightBlue: #DEEBFF;
--grey: #F2F2F2;
--black: #000000;
--white: #FFFFFF;
}
body {
    max-width: 1400px;
    color: var(--black);
    font-family: Raleway, sans-serif;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--white);
    color: var(--black);
}
#main-logo {
    width: 61px;
    height: 19px;
}
nav {
    display: flex;
    width: 33%; /* TODO: fix me pleeeease! */
}
nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
/* branding section */
#tagline {
    margin-top: -1em;
}
/* search section */
#search {
    width: 60%;
    font-weight: bold;
}
#search-input {
    margin-top: 1em;
}
#search-filters {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#search-filters-title {
    font-size: 1em;
}
.searchFiltersButtons {
    display: flex;
    flex-flow: row nowrap;
}
#search-results-numbers {
    display: flex;
    flex-flow: row nowrap;
}
/* hostin section */
#hosting {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}
/* hosting-in section */
#hosting-in {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--grey);
    margin-top: 2em;
    border: solid 1px var(--grey);
    border-radius: 20px;
}
#section-hosting-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    margin: 1em;
}
.hostingCards {
    height: 17em;
    width: calc(33% - 1.3em);
    background-color: var(--white);
    border: 5px solid var(--white);
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hostingCards img {
    margin: 0;
    padding: 0;
    object-fit: fill;
    width: 100%;
    height: 8em;
    border: 1px none var(--white);
    border-radius: 20px 20px 0px 0px;
}
.hostingCardTxt {
    background-color: var(--white);
}
/* most-popular section */
#most-popular {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--grey);
    margin-top: 2em;
    border: solid 1px var(--grey);
    border-radius : 20px;
}
#most-popular-title {
    display: flex;
    flex-flow: row nowrap;
}
.mostPopularCards {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: calc(33% - 2em);
    margin: 1em;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px 20px 20px 20px;
}
.mostPopularCards img {
    height calc(33% - 1em);
    width: 40%;
    object-fit: fill;
    border: 5px solid var(--white);
    border-radius: 20px 0px 0px 20px;

}
/* activity-section */
#activity {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    background-color: var(--white);
    margin-top: 1em;
}
.activityCards {
    display: flex;
    flex-flow: column nowrap;
    width: calc(25% - 1em);
    height: 30em;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px 20px 20px 20px;
}
.activityCards img {
    object-fit: fill;
    height: 25em;
    border: 1px solid var(--white);
    border-radius: 20px 20px 0px 0px;
}
/* footer */
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: var(--grey);
    color: var(--black);
}
footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
/* Media query */
/* *** Tablet version */
@media screen  and (min-width: 769px) and (max-width: 992px) {
    header {
        display: flex;
        flex-flow: column wrap;
    }
};
/* *** Mobile version */
@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-flow: column wrap;
    }
};
